body, html {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    /* padding: 0; */
    overflow: hidden;
}

.content {
    position: relative;
    background-color: #f0f0f0;
  
    /* linhas finas (grade menor) */
    background-image:
        linear-gradient(to right, rgba(0,0,0,0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.1) 1px, transparent 1px),

        /* linhas mais fortes (a cada 5 células) */
        linear-gradient(to right, rgba(0,0,0,0.2) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.2) 1px, transparent 1px);

    /* tamanho da célula menor */
    background-size: 20px 20px, 20px 20px, 100px 100px, 100px 100px;
    background-attachment: local;
}